body    {
    background: #ffffff;
    font-family: "Nunito" , sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
      
      
}


.blurb h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
    text-align: center;
}

.blurb p {
    color: #000;
    font-weight: 100;
    font-size: 1.3rem;
    line-height: 1.5;
}

.info {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*Navbar*/
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: #ffffff;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
    font-weight: 100;
}


    .navbar.scrolled {
        background: #000;
        transition: background 500ms;
        
    }


.icons {
    color: #000; 
}
.icons:hover {
    color: #ea1c2c; 
}

#footer {
    color: #000;
    font-weight: 100;
    
}

#heart {
    color: #ea1c2c;
}

a {
    color: #000;
}

a:link {
  text-decoration: none;
}
a:hover {
    color: #000;
}
  

  /*index page*/
  #index body {
    background-color: #000;
    
  }

  #landing {
    font-family: 'Rock Salt', cursive;
  }

  #landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
  }
  
  #landing-header h1 {
    color: #fff;
  }
  
  
  #index slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #index .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
  }

  #index .slideshow li:nth-child(1) { 
    background-image: url(imgs/landing1.jpg);
  }
  #index .slideshow li:nth-child(2) { 
    background-image: url(imgs/landing2.jpg);
    animation-delay: 10s; 
  }
  #index .slideshow li:nth-child(3) { 
    background-image: url(imgs/landing3.jpg);
    animation-delay: 20s; 
  }
  #index .slideshow li:nth-child(4) { 
    background-image: url(imgs/landing4.jpg);
    animation-delay: 30s; 
  }
  #index .slideshow li:nth-child(5) { 
    background-image: url(imgs/landing5.jpg);
    animation-delay: 40s; 
  }


  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }
  
  /* Older browser support - .no-cssanimations class added by modernizr */
  .no-cssanimations .slideshow li {
    opacity: 1;
  }

  /*scroll fade over*/

  body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .header {
    width: 100%;
    position: fixed;
    z-index: 1;
    margin: 0;
    background-color: #ffffff;
   
  }
  
  .content {
    width: 100%;
    margin: 0;
    top: 625px;
    z-index: 2;
    position: relative;
    background-color: #ffffff;
    
  }
  
  h1 {
    margin: 0;
  }

 